@using WebRegistry.Components
@model WebRegistry.Models.RedBook

<div class="header">
    <h4 style="text-align: center;">"Красная книга"</h4>

</div>
<div class="container col-lg-10 align-content-md-center">
    <component type="typeof(RedBookArchive)" render-mode="ServerPrerendered"  />
</div>

@{


}
