@{
    ViewData["Title"] = "Инструкция";
}
<h1>@ViewData["Title"]</h1>

<p>Скоро здесь появится инструкция о том, как работать с веб-приложением "Справочник номенклатуры".</p>
<p>В данный момент идет отладка приложения и база данных работает только на чтение. Изменение данных будет доступно позже.<br>
В данной верссии приложения могут встречаться некорректные либо неполные данные, это нормально. После отладки и промышленного запуска приложения
справчник станет основным источником технической информации об изделиях
</p>
<p>Замечание и предложения по работе приложения вы можете отправлять на адрес <a href="mailto://G.Krotov@sial-group.ru">G.Krotov@sial-group.ru</a></p>
